body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

#left {
  box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px,
              rgba(0, 0, 0, 0.098) 0px 0px 3px;
}

paper-toolbar {
  background-color: #03A9F4;
  margin: 0px;
}

.page {
  padding: 20px;
}

#edit-dialog {
  padding: 24px;
}

.template {
  display: none;
}

.control-button {
  width: 70px;
  height: 30px;
}
